* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: black;
    color: white;
    padding-top: 90px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: grey;
}

nav h2 {
    color: #fff;
}

.logo {
    color: purple;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px plum;
        transform: scale(1);
    }
    100% {
        text-shadow: 0 0 20px plum, 0 0 40px purple;
        transform: scale(1.1);
    }
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
}

nav ul li a:hover {
    transform: scale(1.1);
    color: purple;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    z-index: 1001;
}

.nav-links {
    display: flex;
    list-style: none;
}

.section {
    padding: 60px 40px;
    text-align: center;
}

.hover-section {
    transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.4s ease;
}

.hover-section:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px purple;
    /* background-color: #ffffff; */
}

.skills span {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: purple;
    color: black;
    border-radius: 20px;
    transition: transform 0.3s;
}

.skills span:hover {
    transform: scale(1.1);
    background-color: plum;
}

.project-card {
    display: inline-block;
    background: gray;
    padding: 10px 20px;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
    transition: transform 0.3s;
    color: black;
}

.project-card:hover {
    transform: translateY(-10px);
    background-color: purple;
}

footer {
    background: grey;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Responsive */

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
    }

    .nav-links {
        position: fixed;
        top: 70px;
        left: 0;
        background: #222;
        width: 100%;
        flex-direction: column;
        text-align: center;
        display: none;
        z-index: 1000;
    }

    .nav-links li {
        padding: 15px 0;
    }

    #menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
    }

}
